<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin — Books</h1>
<table>
    <thead><tr><th>ID</th><th>Title</th><th>Stock</th><th>Price</th><th>Actions</th></tr></thead>
    <tbody>
    <tr th:each="b : ${books}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.title}"></td>
        <td th:text="${b.stock}"></td>
        <td th:text="|${b.price} $|"></td>
        <td><a th:href="@{|/admin/books/edit/${b.id}|}">Edit</a></td>
    </tr>
    </tbody>
    <p>Please select an options</p>
    <li><button><a href= th:action="@{/books}">Product List</a></button></li>
</table>

<hr>
<div>
    <form th:action="@{/books}" method="get" style="display:inline">
        <button type="submit">Books</button>
    </form>

    <form th:action="@{/admin/books}" method="get" style="display:inline">
        <button type="submit">Admin Books</button>
    </form>

    <form th:action="@{/admin/orders}" method="get" style="display:inline">
        <button type="submit">Admin Orders</button>
    </form>
</div>
<hr>
</body>
</html>