<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

    <style>
        .auth-card {
            max-width:400px;
            margin: 80px auto;
        }
        .switch-link {
            cursor: pointer;
            color: #0d6efd;
        }
    </style>
</head>

<body class="bg-light">

<div class="card auth-card shadow-sm">
    <div class="card-body">
        <h3 class="mb-4 text-center">Welcome to
            <br>Slim Shady BookStore 📚</h3>
        <div id="loginForm">
            <h4 class="mb-3 text-center">Login</h4>

            <form method="post" action="/login">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter your name">
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="text" class="form-control" placeholder="Enter your password">
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Login
                </button>
            </form>

            <div class="text-center mt-3">
                Not a member?
                <span class="switch-link" onclick="showSignup()">Sign up<i class="bi bi-box-arrow-in-right"></i></span>
            </div>
        </div>

        <div id="signupForm" style="display:none;">
            <h4 class="mb-3 text-center">Sign Up</h4>

            <form method="post" action="/register">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="text" class="form-control" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-success w-100">
                    Sign Up
                </button>
            </form>

            <div class="text-center mt-3">
                Already a member?
                <span class="switch-link" onclick="showLogin()">Login <i class="bi bi-door-open"></i></span>
            </div>
        </div>
    </div>
</div>

<script>
    function showSignup() {
        document.getElementById("loginForm").style.display = "none";
        document.getElementById("signupForm").style.display = "block";
    }

    function showLogin() {
        document.getElementById("signupForm").style.display = "none";
        document.getElementById("loginForm").style.display = "block";
    }
</script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>